<div class="row">
	<div class="large-6 column">
		<form id="question-form" action="/question/new_text/<%= params[:survey_id] %>" method="POST">
			<input type="text" placeholder="Question" name="question[prompt]">
			<input type="submit" value="Submit" class="button">
		</form>
  </div>
</div>