<h3><%= @user_name %> invited you to participate in his survey: <%= @survey %></h3>
<p>Here is your unique key to access your survey:</p>
<h4 style="color: #038F3F;"><%= @unique_link %></h4>
<p> Go to <a hreg="#">Poodle Survey</a> and paste this link in the unique key box on the home page</p>
<h5>This survey was sent to you with the message: </h5>
<p><%= @message %></p>
