<header class="site-header">
  <h1><a href="/">Survey Poodle</a></h1>
</header>
<% if !current_user? %>
  <p class="middle"><a href="/user/signup" class="button">Sign Up!</a></p>
<% end %>

<section class="elevator">
  <blockquote>
	  <p>Welcome to our survey application, Survey Poodle. Used to be Survey Snake. The idea came into fruition because we had no choice. It was tasked to us by our taskmasters, Kevin and Alyssa. And sometimes Zach, although he is generally less threatening. As far as team dynamic goes, there are a lot of strong personalities. Expecially Alex's snake. Ask Amara.</p>
	</blockquote>
  <p>If you have received a unique key:</p>
  <form action="/surveys/participate_link" method="get">
    <input type="text" name="link" placeholder="insert unique key here">
    <input type="submit" class="button" id="link_submit" value="Take me to form">
  </form>
</section>
